<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2015-09-16 11:13)</string>
	<string>M5.6.2-2573-1</string>
	<string>M6.0-3507-1</string>
	<string>M5.6.2-2573-1</string>
	<string>M6.0.5-4052-1</string>
	<string>M5.6.2-2573-1</string>
	<string>M6.0.5-4052-1</string>
	<string>M5.6.2-2573-1</string>
	<string>M6.0.5-4052-1</string>
	<string>M5.6.2-2573-1</string>
	<string>M6.0.5-4052-1</string>
	<string>M6.1-4328-1</string>
	<string>M6.1.1-4338-1</string>
	<string>G-r13-2C85</string>
	<string>M6.2-4582-1</string>
	<string>G-r13-2C85</string>
	<string>M6.2-4582-1</string>
</array>
</plist>
